
.bkg{
    background-color: black;
}

/* .head1{
    border: 2px solid white;
    height: 60px;
    width: 40%;
    position: absolute;
} */

.label1{
    height: 600px;
    width: 100%;
    border: 3px solid grey;
}

.label2{
    width: 100%;
    height: 300px;
    border: 3px solid white;
}

.header{
    width: 80%;
    height: 50px;
    border: 2px solid white;
    border-left: 10%;
    margin: 4px 10% 0px;
    
}



.head2{
    border: 2px solid white;
}